# City Salary Data Analyis
One way to understand how a city government works is by looking at who it employs and how its employees are compensated. This data contains the names, job title, and compensation for San Francisco city employees on an annual basis from 2011 to 2014.

# Exploration Ideas

* How have salaries changed over time between different groups of people?
* How are base pay, overtime pay, and benefits allocated between   different groups?
* Is there any evidence of pay discrimination based on gender in this dataset?
* How is budget allocated based on different groups and responsibilities?

## Import libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

## Read the data

## Basic data study

#### What are your observations about the basic statistics of data?

## What columns do you think do not add value to our analysis? Drop those columns.

## Check for missing values in the data, what is the strategy you will apply to deal with missing values?

## Convert the object values of all the types of pays to numeric, use to_numeric method of pandas to convert. Is it as straightforward or there is some descripency? if yes, how will you overcome it?

## Find the job titles of the 10 highest median base pay

Base Pay -> The most basic sum of money or hourly rate paid to an employee of a business in compensation for their work efforts or time spent on the job

## Find the job titles of the 10 highest median Overtime Pay


Overtime Pay -> Additional financial compensation for any hours worked by nonexempt staff over the amount of forty hours per week.

## Plot the sectors which have provided the maximum  number of employment

## Plot the top 10 Job titles with highest mean TotalPayBenefits

## Find the highest paid employees for the year 2012, 2013 and 2014

## What questions do you want the answer for looking at the data?